{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="{% url 'todo_list_list' %}">Main Page</a>
      </nav>
    </header>
    <main>
      <div>
        <h1>Create a new list</h1>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button>Create</button>
      </form>
    </div>
  </main>
</body>
</html>
