{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ todo_object.title }}
      Reminders
    </title>
  </head>
  <body>
    <header>
      <nav>
        <a href="{% url 'todo_list_list' %}">Main Page</a>
        </nav>
      </header>
      <main>
        <div>
          <h1>{{ todo_object.name }}</h1>
          <p>
            <a href="{% url 'todo_list_update' id=todo_object.id %}">Edit</a>
          </p>
          <h2>Task</h2>
        </div>
        <div>
          <table>
            <thead>
              <tr>
                <th>Task</th>
                <th>Due Date</th>
              </tr>
            </thead>
            <tbody>
              {% for task in todo_object.items.all %}
                <tr>
                  <td>{{ task.task }}</td>
                  <td>{{ task.due_date }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </main>
    </body>
  </html>
