{% load static %}

{% comment %} <a href="{% url 'todo_detail' todos.id %}"> {% endcomment %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Lists</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="{% url 'todo_list_list' %}">
          Main Page
        </a>
        </nav>
      </header>
      <main>
        <div>
          <h1>My Lists</h1>
          <p>
            <a href="{% url 'todo_list_create' %}">Create a new list</a>
          </p>
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Number of Items</th>
              </tr>
            </thead>
            <tbody>
              {% for list in todo_list_list %}
                <tr>
                  <td>
                    <a href="{% url 'todo_list_detail' list.id %}">{{ list.name }}</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </main>
    </body>
  </html>
